* {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
.bg {
    background-image: url(assets/background4.gif);
    background-repeat: no-repeat;
    background-color: black;

    

 
   
}
.title {
    align-items: center;
}


.games{
    
    border-radius: 35px;
    border-width: 0px;
    padding: 10px 8px;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.171);
    opacity: 50;
    cursor: pointer;
    user-select: none;
    color:white;
    transition-duration: 0.5s;
    background-color: #12121200;
   
}
.games:hover{
    
    border-radius: 35px;
    border-width: 0px;
    padding: 10px 8px;
    font-size: 50px;
    background: rgba(0, 0, 0, 0.171);
    opacity: 50;
    cursor: pointer;
    user-select: none;
    color:white;
    transition-duration: 0.5s;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.gamethumb {
    align-items: center;
    background-color: #12121200;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 18px;
    float: left; 
    margin: 0px 5px 20px 0px;
  border: 2px 2px 2px aliceblue;
    width:175;
    height:175;
    border-radius: 2px;
    transition-duration: 0.5s;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
    opacity:1;
}
.gamethumb:hover {
    width: 300px;
    align-items: center;
    background-color: #12121200;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 18px;
    float: left; 
    margin: 0px 5px 20px 0px;
  border: 2px 2px 2px aliceblue;
    width:175;
    height:175;
    border-radius: 2px;
    transition-duration: 0.5s;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
    opacity:1;
}


.home {
    background-image: url(background4.gif);
    background-repeat: no-repeat;
    background-color: black;

    

 
   
}
.line {
    color: white;
    background-color: #12121231;
    border-radius: 35px;
    border-width: 0px;
    padding: 10px 8px;
    width: 800px;
}
h1 {
    
    color: white;
}
    
        